@model IEnumerable<Lapshop.Models.CustomerMessage>

@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Feedback</h4>

<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }
    </tbody>
</table>
