@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        
        <div class="alert alert-success">
            <strong>Success!</strong> We has Received your Feedback. 😍
        </div>

    </div>
</section>