@model IEnumerable<Lapshop.Models.WhishListItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
</section>
<!-- End Banner Area -->

<!--================ Cart Area =================-->
<section class="cart_area">
    <div class="container">

        <h4>My Whishlist</h4>
        <hr>
        @if (Model != null)
        {
			<div class="row">
				@foreach (var item in Model)
				{
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							@if (item.LaptopId != null)
							{
								<img class="img-fluid" src="~/Images/Upload/LaptopImages/@item.LaptopId/@item.ItemImage" alt="" style="height: 150px; width: 160px">
							}
							else
							{
								<img class="img-fluid" src="~/Images/Upload/AccessoryImages/@item.AccessoryId/@item.ItemImage" alt="" style="height: 150px; width: 160px">
							}
							<div class="product-details">
								<h6>
									@item.ItemName
								</h6>
								<div class="price">
									<h6>LE @item.ItemPrice</h6>
								</div>
								<div class="prd-bottom">

									<a href="" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">add to bag</p>
									</a>

									@if (item.LaptopId != null)
									{
										<a href="~/Comparison/AddLaptopToCompare?id=@item.LaptopId" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p>
										</a>
									}

									@if (item.LaptopId != null)
									{
										<a href="~/Home/LaptopDetails/@item.LaptopId" class="social-info">
											<span class="lnr lnr-list"></span>
											<p class="hover-text">view more</p>
										</a>
									}
									else
									{
										<a href="~/Home/AccessoryDetails/@item.AccessoryId" class="social-info">
											<span class="lnr lnr-list"></span>
											<p class="hover-text">view more</p>
										</a>
									}

									<a href="~/WhishList/Delete?id=@item.Id" class="social-info">
										<span class="lnr lnr-trash"></span>
										<p class="hover-text">Remove</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
        }
        else
        {
            <div class="text-center">
                <h4>Whishlist is Empty!</h4>
            </div>

        }


    </div>
</section>